{% extends 'heritage.html.twig' %}

{% block titreDuDocument %}Nouveau Titre{% endblock %}

{% block corpsDuDocument %}
    <ol>
        <li>Nouveau Contenu</li>
        <li>J'adore l'heritage dans TWIG</li>
    </ol>
{% endblock %}
